/*Selector universal */
* {
    font-family: 'Open Sans', 'Roboto', sans-serif;
}

/*Selectores de tipo */

main {}

footer {}



li {
    /* display: inline; */
    list-style-type: none;
    font-weight: bold;  
}

/*  selectores de clase y de ID del header */


.encabezado{
    padding: 0 20px;
    margin: 1vw;
    height: 8vh;
    width: 95%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
}

.navBar {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.botones{
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.link:hover{
    background-color: rgb(53, 161, 57);
    color:white;
    border-radius: 15px
}

.link{
    color: black;
    padding: 5px 20px;
}

.linea{
    padding-left: 20px ;
}

.comprar{  
    background-color: rgb(0, 37, 243);
    color: whitesmoke;
    padding: 5px 20px;
    border-radius: 20px;
}

.botones .link, .comprar, .linea{
    text-decoration: none;
    font-size:x-small;
}




/*Selectores de id de secciones*/

#hola {}

#como-funciona {
    background-color: rgb(0, 37, 243);
    color: white;
    padding: 5vh;
    /* font-family: ; */

}

#beneficios {}

#especificaciones {}



/*Selectores de clase y de clase agrupadosa del carrusel*/

.carrusel {
    width: 90%;
    max-width: 120em;
    padding: 2em;

    transition: all 0.4s ease;

}

.carrusel .grande {
    width: 200%;
    padding: 2em;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    
    transition: all 0.5s ease;
    transform: translateX(0%);

}

.carrusel .articulos {
    width: calc(100%/2 - 2em);
    
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70% 20% 10%;
    justify-content:left;
    
    transition: all 0.4s ease;
   
}

.articulos .grid-item{
    margin: 0;
    padding: 10px;
}

.titulo, .parrafo, .comprar{
    grid-column: 1/2;
   
}

.imagen{
   grid-column: 2/3;
   grid-row: 1/4;
}

/* .comprar{
    font-size:large;
    display: inline-block;
    text-align: center;
    background-color: rgb(0, 37, 243);
    color: white;
    font-weight: bold;
    display: block;
    width: 50%;
    border-radius: 30px;
    text-decoration: none;
} */

.titulo{
    font-size: 5vh;
    color: rgb(53, 161, 57);
    display: flex;
    align-items: flex-end;
}

.carrusel .puntos {
    width: 100%;
    padding: .5em;
    margin: 1em 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.carrusel .punto {
    width: 1em;
    height: 1em;
    background-color:white;
    border: 1px solid rgba(0, 0, 0, 0.123);
    margin: .5em .8em;
    border-radius: 50%;
    transition: all 0.4s ease;
}


.carrusel .punto.activo{
    background-color: rgb(0, 37, 243);
}


/* ------------- */


table {
    width: 100%;
}

td {
    text-align: center;
}


/* -----Breakpoints------- */

/* Celulares y pequeños dispositivos */
/* @media screen and (max-width: 576px) {
    header{
       background-color: rgb(0, 110, 255);
       
    }
   
} */

/* Tablets o dispositivos medianos */
/* @media screen and (min-width: 576px) {
    header{
        background-color: aquamarine;
      }
    
} */


/* Laptops y Desktops */
/* @media screen and (min-width: 992px) {
    header{
        background-color: rgb(255, 159, 127);
    }
    
} */