.div_hide {
    opacity: 0;
}

.grid-contenedor-usr{
    grid-template-rows: 75% 25%;
    grid-template-columns: 50% 50%;
}

.grid-contenedor-usr {

   display: grid;
   grid-gap: 20px;
   justify-content: center;
   align-content: center;
   padding: 0px 50px;
   margin: 15vh 0% 5%;

}

  .grid-item-usr {
    background-color: #fafafa;
    padding: 30px;
    color: black;
    box-shadow: 0 0 0.5rem rgb(83 78 76 / 20%);
    grid-column: 1/2;
    grid-row: 2/2; 
  }

.headerUsr {
    text-align: center;  
    align-content: center;
    grid-row: 1 / 2;
    grid-column: 1 / span 2;
 }

.usuario-Nombre-txt {
    font-weight: 800;
    font-size: 6vh;
    margin-top: 0;
}

.dispositivo-Titulo-txt {
    font-weight: 800;
    font-size: 6vh;
    margin-top: 0;
    border: 2px solid transparent;

}

.dispositivo-Serial-txt {
    font-weight: 400;
    font-size: 2.2vh;
    margin-top: 200;
    border: 2px solid transparent;

}

.dispositivo-Temperatura-txt {
    font-weight: 600;
    font-size: 7.8vh;
    margin-top: 100;
    border: 2px solid transparent;

}


.dispositivo-FechaInicio-txt {
    font-weight: 600;
    font-size: 3vh;
    margin-top: 0;
    border: 2px solid transparent;
}

.leftUsr{
    grid-column: 1/2;
    grid-row: 1/2;  
}

.contenidoUsr {
    grid-column: 2/2;
    grid-row: 1/2;  
 }

#contenidoUsr{
    grid-column: 1/2;
    grid-row: 1/2;  
}

#contenidoDevice{
    grid-column: 2/2;
    grid-row: 1/ span 2;    
}

#listaDispositivos{
    grid-column: 1/2;
    grid-row: 2/2;   

}

.loginUsr-btn{  
    background-color: #0045f5;
    color: whitesmoke;
    border: 2px solid transparent;
    padding: 5px 20px;
    border-radius: 20px;
    font-weight: 800;
}

.loginUsr-btn:hover{
    background-color: white;
    color: #0045f5;
    border: 2px solid #0045f5;
    font-weight: 800;
}


.material-icons.md-18 { 
    font-size: 18px; 

}
.material-icons.md-24 { font-size: 24px; 


    vertical-align: middle;}
.material-icons.md-36 { font-size: 36px; 

    vertical-align: bottom;


}
.material-icons.md-48 { font-size: 48px; 
    vertical-align:middle;
}

@media screen and (max-width: 620px) {
    .grid-contenedor-usr{
    grid-template-rows: 40% 46% 14%;
    grid-template-columns: 100%;
    padding:10px;
    }
    
    #contenidoDevice {
        grid-column:1/1;
        grid-row: 2/3;  
     }

    #listaDispositivos{
        grid-column:1/1;
        grid-row: 3/3;   
    }

    #leftUsr{
        grid-column:1/1;
        grid-row: 1/3;  
    }

}