.div_hide {
    opacity: 0;
}

.contenedorUsr {
    display: grid;
    background-color: cornflowerblue;
    /* grid-template-columns: 100px 100px 100px */
    /* grid-template-columns: 25% 50% 25%; */
    /* grid-template-columns: 3fr 6fr 3fr; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr 3fr; */
    grid-template-columns: 50% 50% ;
    grid-auto-rows: 3fr;
    column-gap: 10px;
    row-gap: 10px;
}

.imgUsr {
    border-radius: 50%;

}

.divUsr {
    padding: 20px;
    text-align: left;
}

