
.formulario{
    width: 90%;
    padding: 10px 50px;
}

h1{
    color: rgb(53, 161, 57);
    font-weight: bold;
}

p{
    margin-top:revert !important;
}

footer{
    height: auto !important;
}

ads{
display:none;
}

button{  
    background-color: rgb(0, 37, 243) !important ;
    color: whitesmoke !important;
    padding: 5px 20px !important;
    border-radius: 20px !important;
}
