/*Selector universal */
* {
    font-family: 'Open Sans', 'Roboto', sans-serif;
}

/*Selectores de tipo */

main {}

footer {}

header{
    display: grid;
    grid-template-columns: 5% 80%;
    justify-content: space-between;
}


/*  selectores de clase y de ID del header */

.navBar {
    margin:2px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
}

.links{
    font-size:large;
    display: inline-block;
    text-decoration: none;
    padding: 0 1vw;
    color: black;
    transition: all .3s ease;
}

.links:hover{
    background-color: rgb(53, 161, 57);
    color:white;
    border-radius: 15px;
}

#comprar{
    display: inline-block;
    width: 100px;

}

.sign-in{
    padding-left: 30px;
}

li {
    display: inline;
    list-style-type: none;
    font-weight: bold;  
}



/*Selectores de id de secciones*/

#hola {}

#como-funciona {
    background-color: rgb(0, 37, 243);
    color: white;
    padding: 5vh;
    /* font-family: ; */

}

#beneficios {}

#especificaciones {}



/*Selectores de clase y de clase agrupadosa del carrusel*/

.carrusel {
    width: 90%;
    max-width: 120em;
    padding: 2em;

    transition: all 0.4s ease;

}

.carrusel .grande {
    width: 200%;
    padding: 2em;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    
    transition: all 0.5s ease;
    transform: translateX(0%);

}

.carrusel .articulos {
    width: calc(100%/2 - 2em);
    
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70% 20% 10%;
    justify-content:left;
    
    transition: all 0.4s ease;
   
}

.articulos .grid-item{
    margin: 0;
    padding: 10px;
}

.titulo, .parrafo, .comprar{
    grid-column: 1/2;
   
}

.imagen{
   grid-column: 2/3;
   grid-row: 1/4;
}

.comprar{
    font-size:large;
    display: inline-block;
    text-align: center;
    background-color: rgb(0, 37, 243);
    color: white;
    font-weight: bold;
    display: block;
    width: 50%;
    border-radius: 30px;
    text-decoration: none;
}

.titulo{
    font-size: 5vh;
    color: rgb(53, 161, 57);
    display: flex;
    align-items: flex-end;
}

.carrusel .puntos {
    width: 100%;
    padding: .5em;
    margin: 1em 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.carrusel .punto {
    width: 1em;
    height: 1em;
    background-color:white;
    border: 1px solid rgba(0, 0, 0, 0.123);
    margin: .5em .8em;
    border-radius: 50%;
    transition: all 0.4s ease;
}


.carrusel .punto.activo{
    background-color: rgb(0, 37, 243);
}


/* ------------- */


table {
    width: 100%;
}

td {
    text-align: center;
}


