
/*Selector universal */
* {
    font-family: 'Nunito', 'Roboto', 'Open-Sans', sans-serif;
}

/*Selectores de tipo */

h4 {
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.section-title {
        margin-bottom:1em;
    }
    
.section-title i {
        font-size: 2em;
}
.section-title a{
        margin-left:0.5em;
        font-size: 2.5em;
        font-weight: 900;
}

#especificaciones, #como-funciona-parte2, #cultivos a{
color:rgb(0, 37, 243);
}

/* -------Header------------- */

.encabezado{
    background-color: #FFFFFF;
    margin:0;
    height: 5em;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;

    transition: all .3s ease;
}

.encabezado.hide {
	top: -5em;
}

.logo{
    width: 5.5em;
    margin-left: 3%;
}

.navBar {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    margin-right:2em ;
}

.botones {
    list-style-type: none;
    font-weight: bold;  
}

.navBar .botones{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.link{
    color: black;
    padding: 0 10px;
    font-weight: 800;

}

.link:hover{
    color:#0045f5;
    border-radius: 15px;
}

.linea{
    padding-left: 20px ;
}

.comprar{  
    background-color: #0045f5;
    color: whitesmoke;
    border: 2px solid transparent;
    padding: 5px 20px;
    border-radius: 20px;
}

.comprar:hover{
    background-color: white;
    color: #0045f5;
    border: 2px solid #0045f5;
}

.botones .link, .comprar, .linea{
    text-decoration: none;
    font-size:90%;
}


#menu, #menu-check{
    display: none;
}

/* -------#HOLA------------- */

.carrusel {    
    /* max-width: 120em; */
    margin: 12vh 1% 0%;
    overflow: hidden;
    transition: all 0.4s ease;
    display: flex;
    flex-flow: column nowrap;
}

.carrusel .grande {
    width: 200%;
    padding: 10px 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    transform: translateX(0%);
}

.carrusel .articulos {
    width: calc(100%/2 - 2em);
    height: 100%;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 20% 25% 55%;
    grid-template-rows: 55% 20% 15%;
    justify-content:start;
    align-content: center;
}


.articulos .titulo, .parrafo, .comprar{
    grid-column: 1/ span 2; 
    /* margin:2% 0 */
}

.grid-item.titulo{
    font-size: 7vmax;
    font-weight:800;
    color: rgb(53, 161, 57);
    line-height :1em;
    grid-row:1/3;
    align-self: end;
}

.grid-item.parrafo{
    margin-top:0;
    margin-bottom:0;
    align-self: center;
    font-size: 1.5vmax;
    grid-row:2/3;
}

.grid-item.comprar{
    /* padding: 25px 0; */
    font-size:2.5vmax;
    text-align: center;
    font-weight: 800;
    border-radius: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 3/3;
}

.grid-item.imagen{
   grid-column: 3/3;
   grid-row: 1 / span 3;
   width:50vw;
   align-self: center;
}

.grid-item.iframe{
    grid-column: 3/3;
    grid-row: 1 / span 3;
    width: 100%;
    height: 100%;
    align-self: center;
 }
 
.carrusel .puntos {
    width: 90%;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.carrusel .punto {
    width: 1vmax;
    height: 1vmax;
    background-color:white;
    border: 1px solid rgba(0, 0, 0, 0.123);
    margin: 2em .8em;
    border-radius: 50%;
    transition: all 0.4s ease;
}

.carrusel .punto.activo{
    background-color: #0045f5;
}

/* ------------- */

/* -------#COMO FUNCIONA------------- */

#como-funciona-parte1{
    padding: 2vh;
    background-color: rgb(0, 37, 243);
    color: white;
}

.cards {
    display: flex;
    text-align: center;
    justify-content: space-around;
    gap: 3vw;
}

.img-circle { 
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

#como-funciona-parte2{
    background-color: rgba(0, 0, 0, 0.02);
    margin: 1em 2em 1em 2em;
    padding: 6px;
}

.card2{
    padding: 1em; 
    background-color: #ffffff;
}

.imgetapas {
    max-width: 100%;
    max-height: 100%;
}

.icoimg{
    margin-top: -5vw;
    width: 8vw;
}

#beneficios {
    background-color: #000f8f;
    color:rgb(255, 255, 255);
    margin: -10em 0em 0em 0em;
    padding-top: 10em;
    padding-bottom: 1em;
}

.article {
    margin: 1em 4em 1em 2em;
    text-align:justify;
}

#cards2 {
    background-color: #FFFFFF;
    color: #000000;
    margin: 1em 2em 1em 2em;
}


.cultivos {
    margin: 2vw;
    text-align:justify;    
}

.descripcion {
    display:flex;
    color:#000000;
}

.especificaciones{
    padding: 2vh;
    display:flex;
}

#galeria {
    background-color: rgba(0, 0, 0, 0.02);
    padding: 0.5em;
    width:45%;
}
#datos {
    padding-right: 0;
    width:55%;
    padding-right: 0;
    color:#000000;
}

#datos table, #datos td {
    border: 1px solid white;
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.01);
}

 /* -------FOOTER------------- */
 
footer {
    background-color: #000000;
    color: #FFFFFF;
    padding: 0% 5% 2% 5%;
    height: auto;
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(11,1fr); 

}

.grid-item.col1{
    grid-column: 1/5;
    display: grid;
    grid-template-rows: repeat(5,1);
    grid-row: 1 / 3;
    align-items:center;

}

.grid-item.col1 h3{
    font-weight: 600;
    font-size: 1.3em;

}

.grid-item.col1 form{
    grid-row: 2/3;
    margin: 1px;
    height: 45px;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.suscripcion .mail , .enviar{
    border: 0;
}

footer .suscripcion .mail{
    width: 60%;
    padding: 5px 20px;
    border-radius: 5px 0 0 5px;
}

footer .enviar{
    width: 40%;
    background-color: #0045f5 !important;
    color: #FFFFFF;
    border-left: 1px solid #0045f5 !important;
    font-weight: 900;
    font-size: 2vw;
    padding: 5px 0px;
    border-radius: 0 5px 5px 0; 
}

.grid-item.col1 img{
    grid-row: 3/3;
    width: 120px;
}

.grid-item.col2{
    grid-column: 5/8;
    padding-top: 20px;
    display: flex;
    flex-flow: column nowrap;
}

.grid-item.col2 ul{
    text-align: left;
    margin: 0;
}

.grid-item.col2 a{
    font-size: .8em;
    color: #FFFFFF;
    text-decoration: none;  
}

.grid-item.col2 hr{
    width: 70%;
    margin: 10px;
    padding: 0;
    margin: 5px;;
    margin-left: 40px;
}

.grid-item.col2 .iconos-social{
    height: 15%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-left: 40px;
    padding-top: 5px;
}

.iconos-social .fa-brands{
    /* background-color: aqua; */
    font-size: 2.5vw;
    text-align: left;
    width: 40px;
    height: 40px;
}

.grid-item.col3{
    padding-top: 20px;
    margin-left: 20px;
    grid-column: 8/12;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.grid-item.col3 .tel-mail{
    height: 35%;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 65% 35%;
}

.tel-mail .i{
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    padding: 0;
}

.tel-mail p{
    text-align: center;
}

.icon.tel{
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
}

.icon.mail{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
}

.grid-item.col3 i{
    color:black;
    background-color: #FFFFFF;
    font-size: 2.5vw;
    padding: 15px;
    border-radius: 50%;
}

.grid-item.col3 p{
    font-size: .8em;
}
.grid-item.col3 .legales{
    margin: 30px 0;
    height: 35%;
    display: flex;
    flex-flow: column nowrap;
    justify-content:start;
    gap: 15px;
}

.leg1, .leg2{
    margin: 0;
}

/* -------BREAKPOINTS------------- */

/* Celulares y pequeños dispositivos */
@media screen and (max-width: 620px) {
    
    .cards, .especificaciones {
        flex-direction: column;
    }

    .descripcion, #beneficios {
        flex-direction: row;
    }
    .navBar .botones, .navBar .botones .link, .navBar .botones .comprar {
        display: block;
        text-align: center;
        font-size: 80%;
        padding: 0.8em;
    }

    .carrusel .articulos {
        grid-template-columns: 100%;
        grid-template-rows: 15% 85%;
    }
    
    .grid-item.imagen {
        grid-column: 1/2;
        grid-row: 2/2;
        width: 100%;
        justify-self: center;  
   }

    .grid-item.iframe{
        grid-column: 1/1;
        grid-row: 2/2;
    }

    .grid-item.titulo { 
        grid-row: 1/2;
        align-self: center;
        font-size: 5vmax;
    }
    
    .articulos,  .grid-item.parrafo, .grid-item.comprar{
        display: none;
    }
 
    .cultivos {
        margin: 2vw;
     }

     .article , ul{
        margin: 1em 1em 1em 1em;
        padding-inline-start: 0em;
     }
    
    #galeria {
        width:auto;
    }
    #datos {
        width:auto;
    }
    
    .section-title {
        margin-bottom:1em;
    }
    
    .section-title i {
        font-size: 1em;
    }

    .section-title a{
        margin-left:0.1em;

    
    }

}

/* Tablets o dispositivos medianos */
@media screen and (max-width: 992px) { 

    #menu-check:not(:checked) ~ nav{
        display: none;
    }

    #menu-check:checked ~ nav{
        display: block;
    }

    #menu{
        display: block;
        font-size: 1.2em;
        font-weight: bold;
        color:#0045f5;
        text-align: center;
        border: 2px solid #0045f5;
        border-radius: 5px;
        margin-right: 2em;
        position: absolute;
        top: 1em;
        right: 0;   
        z-index: 100;
        width:2em;
        height: 1.5em;
    }

    #menu:hover{
        color: #FFFFFF;
        background-color: #0045f5;
    }

    #menu-cerrar{
        display: none;
        
    }

    #menu-check:checked ~ label #menu-abrir{
        display: none;
    }

    #menu-check:checked ~ label #menu-cerrar{
        display: block;
    }

    /* .encabezado{
        height: 4em ; 
    }*/

    .encabezado .navBar {
        position: absolute; 
        top: 0;
        right: 0;
        width: auto;
        background-color:rgba(255, 255, 255, .8);
        margin-top: 3.5em ;
        padding-right: 2em ;
         
    }

    .encabezado .navBar p{
        display: none;
    }
    .navBar .botones, .navBar .botones .link, .navBar .botones .comprar {
        display: block;
        text-align: center;
        font-size: 80%;
        padding: 0.8em;
    }
}