.contenedor {
    display: grid;
    background-color: yellow;
    /* grid-template-columns: 100px 100px 100px */
    /* grid-template-columns: 25% 50% 25%; */
    /* grid-template-columns: 3fr 6fr 3fr; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr 3fr; */
    grid-template-columns: 30% 70% ;
    grid-auto-rows: 3fr;
    column-gap: 10px;
    row-gap: 10px;
  
}

.box {
    background-color: slateblue;
    padding: 10px;
    color: #ffffff;
    text-align: center;

}