<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app">
        <h1>HIDROGROW</h1>
       
        <section v-for="dispositivo in dispositivos">      
            <article>
                <h2>{{dispositivo.name}} </h2>
                <h3>Número de serie del dispositivo: {{dispositivo.serialNumber}} </h3>
                <h3>Fecha inicio del cultivo: {{dispositivo.fechaInicio}} </h3>
                <p>Temperatura:</p>
                    <ul v-for="temp in dispositivo.temperatura">
                        <li>{{temp}}°</li>
                    </ul>
                    <p>PH:</p>
                    <ul v-for="tempPH in dispositivo.ph">
                        <li>{{tempPH}}</li>
                    </ul>
            </article>
        
        </section>

        <!--<p>{{info}}</p>-->


    </div>
    <script src="js/usuarios.js"></script>
</body>

</html>